body {
    margin:0%;
    background-color: #5cdb95;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.left-menu {
    height: 100vh;
    width: 20vw;
    position: absolute;
    float: left;
    background-color: #05386b;
    padding-left: 5%;
    padding-top: 20%;
}

.button-style {
    position: absolute;   
    width: 8vmax;
    height: 5vmin;
    margin-left: 2vw;
    font-size: 1.3vmax;
    font-weight: 500;
    color: rgb(0, 0, 0);
    border-radius: 0.2vw;
    cursor: pointer;
    border: none;
    background-color: #8ee4af;
    outline: none;

}

.employee-button-align {
    top: 40vh;

}

.student-button-align{
    top: 50vh;
}

 .button-style:active {
    color: rgb(0, 0, 0);
    background-color: #edf5e1;
    transform: translateY(4px);
 }

 .right-content {
    position: absolute;
    left: 25vw;
    right: 0vw;
 }

 .grid-container {
    padding-top: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 60vw;
    height: 40vh;
    overflow: scroll;
 }

 .grid-header {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 1vh;
    color: rgb(255, 255, 255);
    background-color: #05386b;
    border-radius: 1vh;
    border-bottom-right-radius: 0vh;
    border-bottom-left-radius: 0vh;
    font-size: 2.3vh;
 }

 .grid-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    grid-gap: 0.5vh;
    background-color: #379683;
    padding: 1vh;
    border-radius: 0.4vw;
    border-top-right-radius: 0vw;
    border-top-left-radius: 0vw;
 }

 .grid-items > div {
    display: grid;
    background-color: #edf5e1;
    grid-template-rows: 4vh 2vh;
    padding: 0.8vw;
    width: 12vw;
    height: 4vh;
    
    border-radius: 0.4vh;
    font-size: 2.3vmin;
    text-align: center;
    color: rgb(0, 0, 0);
 }

 .delete-button-align{
     position:relative;
     align-self: center;
 }
 
 .delete-button:active {
    color: rgb(255, 1, 1);
    background-color: #edf5e1;
    transform: translateY(4px);
 }

 .new-employee {
    margin-left: 25vmax;
    padding: 4vh;
    border-bottom: none;
    color: #05386b;
 }
 
 .new-employee-button {
    cursor: pointer;
    color: #edf5e1;
    background-color: #05386b;
    border-radius: 0.4vh;
    width: 13vmax;
    height: 6vmin;
    outline: none;
    font-size: 1.3vmax;
 }

 .new-employee-button:active {
    color: #000000;
    background-color: #edf5e1;
    transform: translateY(4px);
 }
 
 h3 {
    margin-top: 0.3vh;
    margin-left: 20vh;
    margin-bottom: 0.6vh;
    font-size: 1.3vmax;
    color: #05386b;
 }
 
 .add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
    width: 40vw;
    height: 30vh;
    background-color: #edf5e1;
    border: solid #05386b;
    border-radius: 1.1vh;
    margin-left: 13vw;
    margin-top: 2vh;
    margin-right: 30vw;
    color: #05386b;
 }
 
 .add-container > div {
    padding: 1vh;
    padding-left: 1vw;
 }
 
 .name {
    color: #05386b;
    width: 33vmax;
    height: 4vmin;
    border: solid #05386b;
    border-radius: 1vmin;
    outline: none;
    margin-left: 0.8vw;
 }
 .area {
    color: #05386b;
    width: 33vmax;
    height: 4vmin;
    border: solid #05386b;
    border-radius: 1vmin;
    outline: none;
    margin-left: 1.3vw;
 }
 .id {
    color: #05386b;
    width: 33vmax;
    height: 4vmin;
    border-radius: 1vmin;
    border: solid #05386b;
    outline: none;
    margin-left: 2vw;
 }
 .add-button,
 .cancel-button {
    width: 7vmax;
    height: 5vmin;
    color: rgb(0, 0, 0);
    font-size: 1.3vmax;
    border-radius: 0.2vw;
    border-bottom: none;
    border: none;
    background-color: #8ee4af;
    outline:none;
    margin-left: 10vw;
    margin-top: 1vh;
    margin-bottom: 0.8vh;
 }
 
 .add-button:active,
 .cancel-button:active {
    color: rgb(0, 0, 0);
    background-color: #edf5e1;
    transform: translateY(4px);
 }
 
 .heading {
    margin-left: 3vmax;
    width: 20vw;
    height: 3vmin;
    font-size: 1vmax;
 }